.card .media[data-v-3f31dc], .card .tags[data-v-3f31dc] {
  margin-bottom: 0;
}
.card .toolImage[data-v-3f31dc] {
  min-width: 300px;
  min-height: 180px;
}
section.section:not(.is-medium):not(is-large) {
  padding: 1.5rem;
}
